@font-face {
  font-family: "Modam FaNum";
  src: url("/fonts/modam/ModamFaNumWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modam FaNum";
  src: url("/fonts/modam/ModamFaNumWeb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modam FaNum";
  src: url("/fonts/modam/ModamFaNumWeb-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modam FaNum";
  src: url("/fonts/modam/ModamFaNumWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modam FaNum";
  src: url("/fonts/modam/ModamFaNumWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
